.center {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


img {
	width: 50vh;
}

body {
	background-color: black; 
}

.okak {
	animation-name: okak;
	animation-duration: 3s;
}

@keyframes okak {
	from {
		height: 1000vh;
	}

	to {
		height: 30vh;
	}
}
